.header{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}
form{
	position: relative;
}
input{
	font-size: 18px;
	padding: 10px 80px 10px 14px;
	margin: 0 4px;
	border-radius: 10px;
	outline: none;
	border: none;
  width: 70vw;
	border: 1px solid #3F403F;
	transition: box-shadow 0.5s ease-in;
} 
input:focus{
	box-shadow: 1px 1px #2D3142;
}

input[type='text']::placeholder{
	color: #CED0CE;
}

.search{
	position: absolute;
	right: 20px;
	top: 6px;
	padding-left: 8px;
	width: 30px;
	color: #3F403F;
	transition: width 0.5s ease-in;
}